################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FireBaseHelper.cs
/firebase_credentials.json
/CloudinaryHelper.cs
