################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FireBaseHelper.cs
/firebase_credentials.json
/CloudinaryHelper.cs
/bin/Debug/firebase_credentials.json
/.vs/WildCat-Tickets/copilot-chat
/.vs/WildCat-Tickets/CopilotIndices
/.vs/WildCat-Tickets/FileContentIndex
